<%= form_for(@ios_application) do |f| %>
  <% if @ios_application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ios_application.errors.count, "error") %> prohibited this ios_application from being saved:</h2>

      <ul>
      <% @ios_application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= image_tag(@ios_application.icon_url, :size => "256x256") if @ios_application.icon_url %>

  <div class="field">
    <b><%= f.label :title %><br /></b>
    <%= f.text_field :title, :placeholder => "SuperAwesomeApplication" %> (optional)
	<div id="help">Only displayed on UpdateKit.com interface, to help you see which application you are editing.</div>
  </div>
  <div class="field">
    <b><%= f.label :application_bundle_identifier %><br /></b>
    <%= 
	if params[:bundle_identifier]
		f.text_field :application_bundle_identifier, :value => params[:bundle_identifier], :placeholder => "com.mycompany.superawesomeapplication" 
	else
 		f.text_field :application_bundle_identifier, :placeholder => "com.mycompany.superawesomeapplication"
	end
 		%>
	<div id="help">Your application bundle identifier (<em>Bundle identifier</em> key of your <em>Info.plist</em> file.)</div>
	
  </div>



  <div class="field">
    <b><%= f.label "Version number update mode:" %><br /></b>
    <%= f.check_box :manual_version_management %> <span id="update_mode_status"> Version is manually managed</span><br>
	<div id="help"><br>
    <i>Automatic mode</i>: application version number is automatically fetched from the AppStore.<br>
	  <i>Manual mode</i>: application version number and download url is manually set by you.<br>
	  </div>
  </div>

  <div class="field">
    <b><%= f.label :apple_identifier %><br /></b>
    <%= f.text_field :apple_identifier, :placeholder => "123456789" %> (optional)
	<div id="help">AppleID of your application (Listed on iTunes Connect)</div>
	
  </div>

	<div class="field">
    <%= f.label :published_version_number %><br />
    <%= f.text_field :published_version_number, :class => "manual_version_management_class" %>
  </div>
  <div class="field">
    <%= f.label :custom_published_url %><br />
    <%= f.text_field :custom_published_url, :class => "manual_version_management_class" %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
