<%
# Don't know why, the notice / alert is kept one time too much. Which means, you can have an alert and a notice at the same time
# Steps to reproduce the bug: do a search. Message (alert or notice) will be visible. reload the page without the search params. Notice message is still here
if @ios_applications.size.zero?
  flash[:alert] = "No iOS application found." 
elsif (params[:search])
  flash[:notice] = "Found #{pluralize(@ios_applications.size, 'application')}"
end
%>

<h1>Listing iOS applications</h1>

<table>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Application bundle identifier</th>
    <th>Published version number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @ios_applications.each do |ios_application| %>
  <tr title=" <%= (ios_application.manual_version_management ? "Manual mode" : "Automatic mode") + " - AppleID: #{ios_application.apple_identifier || "unknown"}" %> " class="<%= 
	if ios_application.is_owned_by(current_user)
		"application_owned_by_me"
	else
		if ios_application.owner
			"application_owned_by_someone_else"
		else
			""
		end
	end
	%>" >
	  <td><%= image_tag(ios_application.icon_small_url, :size => "35x35") if ios_application.icon_small_url %></td>
    <td><%= ios_application.title %></td>
    <td><%= ios_application.application_bundle_identifier %></td>
    <td><%= ios_application.published_version_number %></td>

    <td><%= link_to 'Show', ios_application %></td>
<% if can? :update, ios_application %>
    <td><%= link_to 'Edit', edit_ios_application_path(ios_application) %></td>
<% end %>
<% if can? :destroy, ios_application %>
    <td><%= link_to 'Destroy', ios_application, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>

<% end %>
</table>

<br />

<%= link_to "Create a New iOS application", new_ios_application_path %>
<div id="search">
<%= form_tag ios_applications_path, :method => "get" do %>
	<p>
		<%= text_field_tag :search, params[:search], :size => 40, :placeholder => "Title, bundle identifier or AppleID" %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>
</div>
