<!DOCTYPE html>
<html>
<head>
  <title>UpdateKitCom</title>
  <%= stylesheet_link_tag    "application" %>
  <%= stylesheet_link_tag    "style" %> 
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "iphone-style-checkboxes" %>
  <%= csrf_meta_tags %>
  
</head>
<body>

	<div id="header"  class="shadow"><strong>UpdateKit</strong> is a framework to inform the users of your iOS application that a new version is available for download on the AppStore.<br>
	  All details and setup instructions on <a href="https://github.com/gcerquant/UpdateKit#readme">GitHub</a>.</div>
	
	<div id="user_nav">
	  <% if user_signed_in? %>
	    Signed in as <%= current_user.email %>. Not you?
	    <%= link_to "Log out", destroy_user_session_path, :method => :delete %>
	  <% else %>
	    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "log in", new_user_session_path %>
	  <% end %>
	</div>
	
	<p id="alert"><%= alert %></p>
	<p id="notice"><%= notice %></p>
	
	
<%= yield %>

</body>
</html>
